@import 'bootstrap-sprockets';
@import 'bootstrap';

.navbar {
  background: #67b0d4;
  border: none;
  margin-bottom: 0px;
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-nav li a {
  color: white;
}

body {
  background: #2a4551;
}

.page {
  background: white;
  height: 100%;
}

.thumbnail-img {
  width: 250px;
  height: 250px;
}

.content {
  padding: 0px;
  border: 1px solid black;
  box-shadow: 10px 10px 10px black;
  margin-top: 50px;
  margin-bottom: 50px;
}

.heading {
  background: url("blue-flowers.png") no-repeat center top;
  background-size: 100% 100%;
  width: 100%;
  margin-top: -20px;
  margin-bottom: 20px;
  padding: 100px;
  color: white;
}

.heading-header {
  font-family: 'Teko', sans-serif;
  font-size: 68px;
  text-shadow: 2px 0 0 black;
}

.description {
  font-weight: bold;
  text-shadow: 2px 0 0 black;
  font-size: 16px;
}
