@import 'bootstrap-sprockets';
@import 'bootstrap';

.navbar {
  background: #67b0d4;
  border: none;
  margin-bottom: 0px;
  margin-top: 50px;
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-nav li a {
  color: white;
}

body {
  background: #2a4551;
}

.page {
  background: white;
  height: 100%;
  margin-bottom: 50px;
}